<h1>Edit House <%= @house.name %></h1>

<form action="/houses/<%= @house.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">

  <label for="house[name]">Name of House:</label>
  <br>
  <input name="house[name]" value="<%= @house.name %>">

  <br>
  <br>

  <label for="house[sigil_url]">URL for House Sigil:</label>
  <br>
  <input name="house[sigil_url]" value="<%= @house.sigil_url %>">

  <br>
  <br>

  <label for="house[words]">House Words (or Motto, if you will):</label>
  <br>
  <input name="house[words]" value="<%= @house.words %>">

  <br>
  <br>
  <br>

  <input type="submit" value="Update House">
</form>
