<h1><%= @house.name %> (<a href="/houses/<%= @house.id %>/edit">EDIT</a>)</h1>
<img class="show_sigil" src="<%= @house.sigil_url %>" alt="House <%= @house.name %> Sigil'">
<h3>"<%= @house.words %>"</h3>

<h2>Members of House <%= @house.name %> (<a href="#">+</a>)</h2>
<div class="character_section">
  <% @house.characters.each do |character| %>
    <a href="/characters/<%= character.id %>"><div class="character_box">
      <img class="headshot" src="<%= character.img_url %>" alt="<%= character.name %>'s Picture">
      <p><%= character.name %></p>
    </div></a>
  <% end %>
  <a href="/characters/<%= @house.id %>/new"><div class="character_box">
    <p>+</p>
    <p>Add Character</p>
  </div></a>
</div>
