<h1><%= @character.name %> (<a href="/characters/<%= @character.id %>/edit">EDIT</a>)</h1>

<img src="<%= @character.img_url %>" alt="<%= @character.name %>'s Photo">

<h4>Health Status:</h4>
<p><%= @character.status.capitalize %></p>

<p><a href="#">EDIT</a></p>
<p><a href="#">KILL</a></p>
<p><a href="/houses/<%= @character.house.id %>">BACK</a></p>
